@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #F2F2F2;
    font-family: sans-serif;
}

header,
footer {
    background-color: #F6D4F5;
}

div.container {
    margin: 0 12.5%;
}

.topbar {
    /* width: 100%; */
    background-color: #0A0A0A;
    color: #F6D4F5;
    text-align: center;
}

#cart {
    float: right;
    font-size: 1.2rem;
    display: flex;
}

#cart i {
    margin: 1rem 0;
    color: violet;
    font-size: 2.5rem;
}

p.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
}

span {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #0A0A0A;
    text-transform: uppercase;
    padding: 1rem;
}

a:hover {
    transition: 1.1s;
    background-color: violet;
}

main {
    margin: 0 10rem;
}

#slider {
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#slider img {
    width: 100%;
}

#slider h2 {
    position: absolute;
    background-color: rgba(246, 212, 245, 0.8);
    font-size: 1rem;
    padding: 1rem;
}

h2 span {
    font-weight: normal;
}

#select {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    display: flex;
    background-color: white;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.escarpin {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 1rem;
    /* opacity: 50%; */
    /* border: 1px blue solid; */
}

.escarpin:hover  {
    opacity: 1;
}

#select:has(.escarpin:hover) .escarpin:not(:hover) img{
    opacity: 0.5; 
}
#select:has(.escarpin:hover) .escarpin:not(:hover) h3{
    opacity: 0.5; 
}

.escarpin img {
    padding-top: 5rem;
    width: 3rem;
    /* padding-bottom: 2rem; */
    height: 0.5;
    width: 100%;
    /* border: 1px solid red; */
}


.escarpin h3 {
    padding-top: 2rem;
    /* border: 1px solid green; */
    font-family: 'Courgette';
}

h1 {
    position: absolute;
    font-size: 1rem;
    padding: 1rem;
}

#new {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#news {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: white; */
    text-align: center;
}

#news article {
    background-color: white;
    padding: 1.5rem;
}

#news h3 {
    font-family: 'Courgette';
}

#news small {
    font-family: 'Courgette';
}

#new h2 {
    background-color: #EA32C4;
    padding: 0.5rem;
    color: white;
}

#best {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#best h2 {
    padding: 0.5rem;
    color: white;
    background-color: #92BE44;
}

#crush h2 {
    padding: 0.5rem;
    color: white;
    background-color: #0099B2;
}

#crush {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 2rem;
}

#info {
    display: flex;
    justify-content: space-around;
    background-color: #E3ADE1;
    padding: 2rem;
    /* color: white; */
}

#info article:hover{
    transition: 0.2s ease;
    color: white;
    cursor: pointer;
}

#info article {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

#bottombar {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    line-height: 2rem;
}

article h2 {
    text-align: center;
    padding: 1rem;
}

@media (max-width: 640px) {
    body{
        width: 100%;
    }
    div.container{
        margin: 0;    
    }
    div.container img{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    nav a{
        text-align: center;
    }
    main{
        margin: 1rem;
    }
    #cart {
        display: none;
    }
    #slider h2{
        position: static;
    }
    h1{
        position: static;
    }
    #select{
        flex-direction: column;
    }
    .escarpin{
        align-self: center;
    }
    #news article{
        width: 100%;
    }
    #info, #bottombar{
        flex-direction: column;
    }
}
